.header{

    display: flex;
    flex-direction: row;
    background-color: rgb(13, 30, 36);
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed;
    top:0px;
    left: 0px;
    right: 25px;
    height: 56px;
    z-index: 1;
    
    

}

.left-section{
    display: flex;
    flex: 1;
    width: 100px;
    background-color: transparent;
    align-items: center;


}

.menu-button{
    padding-left: 28px;
    height: 70px;
    width: 70px;
    font-size: 45px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.youtube-button{
    margin-left: 41px ;
    
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
    
}





.search {

    
    color: white;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: transparent;
    flex: 1;
    font-size: 18px;
    padding-left: 10px;
    height: 30px;
    width: 0;
    
    
    
    }



.search::placeholder{
    font-size: 16px;
    color: white;
    
}

.search:active{

    
}





.middel-section{
    flex: 1;
    
    margin-left: 15px;
    margin-right: 35px;
    max-width: 700px;
    display: flex;
    align-items: center;
    
}
.search-button{
    position: relative;
    width: 60px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(20, 45, 54);
    border: none;
    cursor: pointer;
    touch-action: none;
    

}
.search-button .tool-tip{
    position: absolute;
    color: white;
    font-size: larger;
    background-color:rgb(38, 75, 88);
    padding-left: 8px;
    padding-right: 8px ;
    padding-top: 4px ;
    padding-bottom: 4px;
    border-radius: 2px;
    bottom: -36px;;
    left: 0;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;

}

.search-button:hover .tool-tip{
    opacity: 1;
}
.search-button-icon{
    padding-right: 5px;
    width: 20px;
    height: 20px;
    
}

.voice-button{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(20, 45, 54) ;
    cursor: pointer;
    position: relative;
    


}

.voice-button .tool-tip{
    position: absolute;
    width: 180px;
    color: white;
    font-size: larger;
    background-color:rgb(38, 75, 88);
    padding-left: 8px;
    padding-right: 8px ;
    padding-top: 4px ;
    padding-bottom: 4px;
    border-radius: 2px;
    bottom: -36px;;
    left: -70px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    
    
    

}

.voice-button:hover .tool-tip{
    opacity: 1;

}

.voice-button-icon{
    width: 15px;
    height: 23px;
}

.right-section{
    
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 200px;
    
    
}

.add-viedio{
    
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    
}
.add-viedio-icon{
    display: flex;
    height: 40px;

    
}

.add-viedio .tool-tip{
    position: absolute;
    color: white;
    font-size: larger;
    background-color:rgb(38, 75, 88);
    padding-left: 8px;
    padding-right: 8px ;
    padding-top: 4px ;
    padding-bottom: 4px;
    border-radius: 2px;
    bottom: -36px;;
    left: -8px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;

}

.add-viedio:hover .tool-tip{
    opacity: 1;
}

.notification-button{
    margin-left: 50px;
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    
}

.notification-icon{
    height: 40px;
}

.notification-button .tool-tip{
    position: absolute;
    color: white;
    font-size: larger;
    background-color:rgb(38, 75, 88);
    padding-left: 8px;
    padding-right: 8px ;
    padding-top: 4px ;
    padding-bottom: 4px;
    border-radius: 2px;
    bottom: -36px;;
    left: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;

}

.notification-button:hover .tool-tip{
    opacity: 1;
}

.profile{
    margin-left: 50px;
    display: flex;
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    
    
    

}

.profile-picture{
    position: static;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
